language: node_js
node_js:
  - "0.12"
  
before_install:
  # execute all of the commands which need to be executed 
  # before installing dependencies
  - cd $HOME/c9sdk && git pull || git clone https://github.com/c9/core.git $HOME/c9sdk
  
cache:
  directories:
    - $HOME/c9sdk
    - node_modules
    - $HOME/.c9

install:
  # install all of the dependencies you need here
  - $HOME/c9sdk/scripts/install-sdk.sh
  
before_script: "node server.js -p 8080 -a : --collab"

script: 
  - exit $?
  # execute all of the commands which should make the build pass or fail
